<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <application
        android:label="Exchange Books"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Main_Portrait_Activity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Portrait_Search"
            android:exported="true">
        </activity>
        <activity
            android:name=".Portrait_Login"
            android:exported="true">
        </activity>
        <activity
            android:name=".Portrait_Signup"
            android:exported="true">
        </activity>
        <activity
            android:name=".Portrait_Profile"
            android:exported="true">
        </activity>
        <activity
            android:name=".Portrait_Books_Data"
            android:exported="true">
        </activity>
        <activity
            android:name=".Portrait_Book"
            android:exported="true">
        </activity>
        <activity
            android:name=".Portrait_Book_Display"
            android:exported="true">
        </activity>
        <activity
            android:name=".Portrait_Settings"
            android:exported="true">
        </activity>
        <activity
            android:name=".Portrait_About"
            android:exported="true">
        </activity>
        <activity
            android:name=".Server_Customize"
            android:exported="true">
        </activity>
    </application>

</manifest>